<style type="text/css">

  body { 
    margin-left: 10%; margin-right: 10%;
    font-weight: normal; font-family: helvetica, arial, sans-serif;
    color: #1a04a5;
  }
  td { 
    font-weight: normal; font-family: helvetica, arial, sans-serif;
  }
  td.center {
    text-align: center;
  }
  table.mrsMrs {
    padding: 0.2em;
    border: solid;
    border-width: thin;
    color: #1a04a5;
    background: #d8d6d6;
  }
  table.mrsRelation {
    padding-right: 2px;
    padding-left: 1px;
    color: #1a04a5;
    border-left: solid;
    border-right: solid;
    border-left-width: thin;
    border-right-width: thin;
    border-top: none;
    border-bottom: none;
  }
  td.mrsFeatureTop, td.mrsFeatureIndex, 
  td.mrsFeatureRels, td.mrsFeatureHcons {
    font-size: 10pt; 
  }
  td.mrsValueTop, td.mrsValueIndex, 
  td.mrsValueRels, td.mrsValueHcons {
    font-size: 10pt; 
  }
  td.mrsPredicate { 
    font-size: 10pt; font-style: italic; 
  }
  td.mrsLabel { 
    font-size: 10pt; font-style: normal; text-align: left; 
  }
  td.mrsValue { 
    font-size: 10pt; font-style: italic; text-align: right; 
  }
  span.mrsBracket { 
    color: #1a04a5;
    font-size: 16pt; 
  }

  table.tree {
    padding: 0.2em;
    color: #1a04a5;
    background: #d8d6d6;
  }
  td.treeBranch {
    padding: 0.2ex;
    border-top: solid;
    border-top-width: thin;
    border-left: solid;
    border-left-width: thin;
    border-right: solid;
    border-right-width: thin;
    text-align: center;
    vertical-align: top;
  }
  td.treeLeaf {
    padding: 0.2ex;
    border-left: solid;
    border-left-width: thin;
    border-right: solid;
    border-right-width: thin;
    text-align: center;
    vertical-align: top;
  }
  td.treeMargin {
    padding: 0em;
  }
  div.treeLabel {
    font-weight: normal; font-size: 10pt; 
    font-family: helvetica, arial, sans-serif;
  }
  div.treeForm {
    font-weight: normal; font-size: 10pt; 
    font-family: helvetica, Arial, sans-serif;
    font-style: italic; 
  }

  table.results {
    border-collapse: collapse;
  }
  td.resultsNavigation {
    background: #d8d6d6;
    color: #2d2d2b;
    text-align: center; vertical-align: middle;
    padding: 0.2em;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    font-weight: normal; font-size: 14pt; 
    font-family: helvetica, arial, sans-serif;
  }
  table.resultsNavigation {
    border-collapse: collapse;
    vertical-align: middle;
    color: #1a04a5;
  }
  div.resultsNavigation {
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif;
  }
  td.resultsTree, td.resultsMrs {
    background: #d8d6d6;
    text-align: center; vertical-align: top;
    padding: 0.2em;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    color: #2d2d2b;
  }

  td.buttons { 
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif;
    color: black; vertical-align: middle;
  }
  div#introduction {
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif; 
    text-align: left;
    background: #d8d6d6;
    border: solid; border-width: thin;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin-bottom: 1em;
  }
  div#summary { 
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif; 
    margin-bottom: 1em;
  }
  div#action { 
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif;
    color: black; vertical-align: middle;
    margin-bottom: 1em;
  }

  div#error { 
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif; 
    background: #d8d6d6;
    color: red;
    width: 80%;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 1em;
  }
  div#version { 
    font-weight: normal; font-size: 8pt; 
    font-family: helvetica, arial, sans-serif; 
    margin-top: 1ex;
  }

  table.compareNavigation {
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif;
    color: black; vertical-align: middle;
    margin-bottom: 1em;
  }
  table.compare {
    border-collapse: collapse;
    background: #d8d6d6;
    border:solid;
    border-width: thin;
  }
  td.compareTop {
    text-align: center; vertical-align: top;
    padding: 5px;
    border-bottom: solid;
    border-width: thin;
  }
  td.compareTrees {
    text-align: left; vertical-align: top;
    margin-bottom: auto;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  table.compareTrees {
    border-collapse: collapse;
  }
  td.compareTreeLabel {

  }
  table.compareTreeLabel {

  }
  td.compareTreeId, td.compareTreeScore {

  }
  td.compareDiscriminants {
    text-align: right; vertical-align: top;
    padding: 0;
    border-left: solid;
    border-width: thin;
  }
  table.compareDiscriminants {
    padding-left: 5px;
    padding-right: 5px;
  }
  table.compareDiscriminantsOnly {
    border-left: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
  }
  td.compareDiscriminantState, td.compareDiscriminantToggle,
  td.compareDiscriminantKey, td.compareDiscriminantValue {
    font-weight: normal; font-size: 10pt; 
    font-family: helvetica, arial, sans-serif; 
    padding: 0;
  }
  td.compareMrs {
    text-align: right; vertical-align: top;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: thin;
  }

  div.profiles table {
    padding: 2px;
    background: #d8d6d6;
    border: solid;
    border-width: thin;
  }
  div.profiles th {
    font-weight: bold; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif; 
    padding-bottom: 2px;
  }
  div.profiles td {
    font-weight: normal; font-size: 12pt; 
    font-family: helvetica, arial, sans-serif; 
  }

  td.ItsdbHeader, td.ItsdbAggregate, td.ItsdbData, td.ItsdbTotal {
    font-size: 12pt; 
    font-family: helvetica, arial, sans-serif; 
  }

  td.ItsdbCaption {
    font-size: 8pt; 
    font-family: helvetica, arial, sans-serif; 
  }
</style>


